.watermark {
      position:fixed ;
      opacity:0.25;
      font-size: 1.5em;
      font-family:Arial, Helvetica, sans-serif;
      font-style:italic;
      text-align: center;
      z-index: 99;
      bottom: 40%;
      right: 40%;
      transform:rotate(380deg);
      -webkit-transform:rotate(380deg);
      pointer-events: none;
}